body {
  font-size: 16px;
}

.container {
  margin: auto;
  width: 1080px;
}

.form {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-button {
  width: 120px;
}

.text-matched {
  font-size: 28px;
  font-weight: bold;
  color: #005218;
}
